<span class="table-of-contents-list">W3school에서 python 내실 다지기 목록</span>
<ul class="table-of-contents-list">
    <li><a href="./W3school_pythontutorial(1)">W3school_pythontutorial(1) Syntax ~ Strings </a></li>
    <li><a href="./W3school_pythontutorial(2)-String_Methods">W3school_pythontutorial(2)-String_Methods </a></li>
    <li><a href="./W3school_pythontutorial(3)-Lists">W3school_pythontutorial(3)-Lists</a></li>
    <li><a href="./W3school_pythontutorial(4)">W3school_pythontutorial(4) Booleans ~ Arrays</a></li>
    <li><a href="./W3school_pythontutorial(5)-Tuples">W3school_pythontutorial(5)-Tuples</a></li>
</ul>